@page "/Demande/Demandes"
@model park.web.Pages.Demande.DemandesModel
@{
}

@{
    await Html.RenderPartialAsync("../PartialViews/_AddDemande");
}


<div class="my-3 p-3 bg-body rounded shadow-sm" style="border:1px solid #dee2e6">
    @*<h6 class="border-bottom pb-2 mb-0">Suggestions</h6>*@
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Objet</th>
                <th scope="col">Detail</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>What is Lorem Ipsum</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                <td>
                    <button type="button" class="btn btn-success"><i class="bi bi-pencil-fill"></i></button>
                    <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
            <tr>
                <td>What is Lorem Ipsum</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                <td>
                    <button type="button" class="btn btn-success"><i class="bi bi-pencil"></i></button>
                    <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
            <tr>
                <td>What is Lorem Ipsum</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                <td>
                    <button type="button" class="btn btn-success"><i class="bi bi-pencil"></i></button>
                    <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
                    <tr>
                <td>What is Lorem Ipsum</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                <td>
                    <button type="button" class="btn btn-success"><i class="bi bi-pencil"></i></button>
                    <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
            <tr>
                <td>What is Lorem Ipsum</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                <td>
                    <button type="button" class="btn btn-success"><i class="bi bi-pencil"></i></button>
                    <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
            <tr>
                <td>What is Lorem Ipsum</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                <td>
                    <button type="button" class="btn btn-success"><i class="bi bi-pencil"></i></button>
                    <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
            <tr>
                <td>What is Lorem Ipsum</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                <td>
                    <button type="button" class="btn btn-success"><i class="bi bi-pencil"></i></button>
                    <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
            <tr>
                <td>What is Lorem Ipsum</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                <td>
                    <button type="button" class="btn btn-success"><i class="bi bi-pencil"></i></button>
                    <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
            <tr>
                <td>What is Lorem Ipsum</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                <td>
                    <button type="button" class="btn btn-success"><i class="bi bi-pencil"></i></button>
                    <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
            <tr>
                <td>What is Lorem Ipsum</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                <td>
                    <button type="button" class="btn btn-success"><i class="bi bi-pencil"></i></button>
                    <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
            <tr>
                <td>What is Lorem Ipsum</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                <td>
                    <button type="button" class="btn btn-success"><i class="bi bi-pencil"></i></button>
                    <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
                    <tr>
                <td>What is Lorem Ipsum</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                <td>
                    <button type="button" class="btn btn-success"><i class="bi bi-pencil"></i></button>
                    <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                </td>
            <tr>
                <td>What is Lorem Ipsum</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                <td>
                    <button type="button" class="btn btn-success"><i class="bi bi-pencil"></i></button>
                    <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
            </tr>
        </tbody>
    </table>
    
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">6</a></li>
        <li class="page-item"><a class="page-link" href="#">7</a></li>
        <li class="page-item"><a class="page-link" href="#">8</a></li>
        <li class="page-item"><a class="page-link" href="#">9</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
